[submodule "tests/lib/vendor/bats-assert"]
	path = tests/lib/vendor/bats-assert
	url = https://github.com/bats-core/bats-assert
[submodule "tests/lib/vendor/bats-support"]
	path = tests/lib/vendor/bats-support
	url = https://github.com/bats-core/bats-support
